@use "./vari.scss" as *;


@mixin nav_box_hover 
{
    & a
            {
                text-decoration: none;
                color: $sec_bg_color;
                border-left: 2px solid $sec_bg_color;
                padding: 5%;
                transition-property: color , border-left;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                
                &:hover
                {
                    
                    color: $font_colortwo;
                    border-left: 2px solid $font_colortwo;
                    
                    
                }
               
            }
}